body {
  display: flex;
  flex-direction: column;
  min-width: 700px;
}

header {
  flex: 0 80px;
  color: blue;
}

main {
  flex: 1 calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

menu {
  flex: 1;
  display: flex;
  /*overwrite Bootstrap so the menu does not wrap */
  flex-direction: row !important;
  list-style: none;
  color: blue;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer {
  flex: 0 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.5rem;
}

footer a {
  float: right;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(182, 182, 182) thin;
}

#count {
  color: rgb(246, 239, 158);
}

.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.center {
  top: 50%;
  left: 10%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
}

#submitButton {
  width: 200px;
  padding: 20px;
}

.user {
  font-size: 40px;
}

.column:not(:empty) {
  float: center;
  padding: 5px;
  width: 45vmin;
  display: grid;
  gap: 10px;
  flex: 50%;
}

#u {
  display: inline;
  gap: 0px;
}

#column1.row:not(:empty) {
  align-items: center;
  display: grid;
  gap: 15px;
  flex-direction: row;
  flex-wrap: wrap;
}

#friendR {
  width: 35pc;
}

#p.row{
  flex-direction: row;
  flex-wrap: wrap;
}

p1 {
  font-size: 20px;
}

div.item {
  text-align: center;
  align-items: center;
  width: 120px;
  float: left;
}
img {
  width: 100px;
  height: 100px;
  background-color: grey;
  align-items: center;
}
#column1:not(:empty) {
  width: 200px;
  border-width: 3px;
  border-style: solid;
  border-color:rgb(217, 161, 21);
  flex-direction: row;
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
  margin: 0;
  float: left;
  display: flex;
  padding: 1em;
}

.bg-primary {
  height: 100%;
  width: 100%;
}

#recipes {
  white-space: pre-line;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 20vh;
  }
}
